.first{
background-color: rgb(239, 241, 80);
font-family: 'Hanalei Fill', cursive;
text-align: center;
margin-top: 5%;
}


.lists{
    display: inline;
    font-size:40px;
    text-align: center;
    letter-spacing: 3px;
    text-align: center;
}
a{
    text-decoration: none;
    color: #df4573;
}
a:hover{
    color: rgb(235, 100, 21);
    transition:2s;
}

body{
    background-color:#64acc2
}
.image{
    height: 400px;
    width:400px;
    bottom:0px;
    position: absolute;
    left:50%;
    display:block;
    /* vertical-align: bottom; */
    margin-bottom:0px;
        /* position: relative; */
/* display:flex;
align-items:flex-end; */
}