*{
    margin: 0;
    padding: 0;
}
.bg1{
    background-image: url(../gray-marble.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.pfp{
    width:200px;
   height:200px;
   position: absolute;
   left:44%;
   top:63%;
   border:rgb(2, 3, 3) 3px solid;
   border-radius: 50%;
}
.bg2{
    background-image:linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)), url(../black.jpg);
    background-repeat: no-repeat;
    background-size:100% auto;
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}
.bg4{
    background-image:linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)), url(../bw.jpg);
    background-repeat: no-repeat;
    background-size:100% auto;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.bg3{
    background-image:linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)), url(../mountain.jpeg);
    background-repeat: no-repeat;
    background-size:100% auto;
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}
.logoc{
    height:120px;
    width:160px;
}
.logoj{
    height:130px;
    width:190px; 
}
.logop{
    height:150px;
    width:240px; 
}
.logoh{
    height:130px;
    width:200px; 
}
.logocs{
    height:150px;
    width:155px; 
}
.lo{
    display: block;
    
}

.heading{
    position: relative;
    top: 20%;
    /* left: 15%; */
    text-decoration: none;
    color: black;
    text-align: center;
    font-family: 'Bungee Outline', cursive;
    font-weight:900;
    font-size: 100px;
    padding-right: 0;
    margin:0;
    letter-spacing: 40px;
}

.name{
    position: absolute;
    left:37%;
    top:50%;
    font-size:60px;
    font-family: monospace;
}
.headr{
    float:right;
    margin:15px;
    right:-0.5%;
    position: fixed;
    z-index: 1; 
}
.list a:hover{
    font-size:30px ;
    background-color: rgba(78, 236, 171, 0.699);
}
.list a{
    border: 2px solid  rgb(51, 50, 50);
    border-radius: 8px;
    background-color: rgb(0,0,0,0.6);
    color:cornsilk;
    font-size:20px;
    margin-right:20px;
    text-decoration: none;
    padding:4px;
    transition: 0.3s ease-in-out;
}
#ab{
    transition:ease-in-out;
}
.list li{
    display:inline-block;

}

.about{
    position: relative;
    top:6%;
    text-align: justify;
    font-size: 50px;
    font-weight: 900;
    color: white;
    margin-right: 20px;
    margin-left: 20px;
}

.about p{
    font-size: 30px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    padding:10px;
}

.edu{
    position: relative;
    top:6%;
    text-align: justify;
    
    font-size: 60px;
    font-weight: 900;
    color: white;
    margin-right: 20px;
    margin-left: 20px;

}

.edu p{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    padding:10px;
}

.social{
    font-size:50px;
    position: relative;
    top:6%;
    text-align: justify;
    font-weight: 900;
    color: white;
    margin-right: 20px;
    margin-left: 20px;
}
.social a{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       font-weight: 700;
       padding:10px;
       text-decoration: none;
       color: white;
       transition: 0.3s ease-in-out;
}
.social i{
    font-size:40px;
    padding-right: 10px;
}
.social a:hover{
    font-size: 30px;
    color: rgb(243, 220, 16);
}







